name: homepage
services:
    homepage:
      image: ghcr.io/gethomepage/homepage:latest
      container_name: homepage
      environment:
        HOMEPAGE_ALLOWED_HOSTS: ${HOMEPAGE_ALLOWED_HOSTS}
        PUID: ${PUID}
        PGID: ${PGID}
      ports:
        - ${PORT}:3000
      volumes:
        - ${CONFIG_PATH}:/app/config
        - /var/run/docker.sock:/var/run/docker.sock:ro
      restart: unless-stopped
      networks:
        - default
        - traefik-network

networks:
  traefik-network:
    external: true
    name: traefik-network
