name: watchtower
services:
    watchtower:
        container_name: watchtower
        image: containrrr/watchtower
        volumes:
            - /var/run/docker.sock:/var/run/docker.sock
        environment:
            - TZ=UTC
            - WATCHTOWER_SCHEDULE=${SCHEDULE}
            - WATCHTOWER_CLEANUP=${CLEANUP}
            - WATCHTOWER_REMOVE_VOLUMES=${REMOVE_VOLUMES}
            - WATCHTOWER_ROLLING_RESTART=${ROLLING_RESTART}
            - WATCHTOWER_INCLUDE_STOPPED=${INCLUDE_STOPPED}
            - WATCHTOWER_MONITOR_ONLY=${MONITOR_ONLY}
            - WATCHTOWER_LIFECYCLE_HOOKS=${ENABLE_LIFECYCLE_HOOKS}
            - DOCKER_API_VERSION=v1.52
        restart: unless-stopped
