# Template: static IP for vm-104-wireguard
network:
  version: 2
  ethernets:
    ens18:
      addresses:
        - 192.168.1.104/24
      routes:
        - to: default
          via: 192.168.1.1
      nameservers:
        addresses:
          - 192.168.1.79
          - 192.168.1.1
          - 8.8.8.8
