name: actual

services:
  actual:
    image: actualbudget/actual-server:latest
    container_name: actual
    restart: unless-stopped

    ports:
      - "${ACTUAL_PORT:-5006}:5006"

    volumes:
      - /home/evan/data/actual-budget:/data

    networks:
      - default
      - traefik-network

    healthcheck:
      test: ["CMD-SHELL", "node src/scripts/health-check.js"]
      interval: 60s
      timeout: 10s
      retries: 3
      start_period: 20s

networks:
  traefik-network:
    external: true
    name: traefik-network
